[submodule "packages/popup"]
	path = packages/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "packages/auto-complete"]
	path = packages/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "packages/color-theme-solarized"]
	path = packages/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "packages/undo-tree"]
	path = packages/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "packages/rainbow-delimiters"]
	path = packages/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule "packages/ecb"]
	path = packages/ecb
	url = https://github.com/alexott/ecb.git
[submodule "packages/ghc"]
	path = packages/ghc
	url = https://github.com/kazu-yamamoto/ghc-mod.git
[submodule "packages/ghci-completion"]
	path = packages/ghci-completion
	url = https://github.com/manzyuk/ghci-completion.git
[submodule "packages/structured-haskell-mode"]
	path = packages/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
[submodule "packages/magit-modes"]
	path = packages/magit-modes
	url = https://github.com/magit/git-modes
[submodule "packages/ensime"]
	path = packages/ensime
	url = https://github.com/ensime/ensime.git
[submodule "packages/scala-mode-2"]
	path = packages/scala-mode-2
	url = https://github.com/hvesalai/scala-mode2.git
[submodule "packages/sbt-mode"]
	path = packages/sbt-mode
	url = https://github.com/hvesalai/sbt-mode
[submodule "packages/haskell-mode-1"]
	path = packages/haskell-mode-1
	url = https://github.com/haskell/haskell-mode.git
